<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAB | Profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <%- include("../components/init.ejs") %>
</head>
<body>
    <div id="blob-background"></div>
    <%- include("../components/navbar.ejs") %>
    <div id="blob-background-two"></div>
    <div class="center">
        <div id="wrapper" class="container">
            <div id="sidebar">
                <div class="content">
                    <span id="greeting" class="bold">Hello, <%- User.displayName %>!</span>
                    <div class="gap"></div>
                    <button class="list-tile"><i class="fa-solid fa-user icon"></i> <span class="text">Profile</span></button>
                    <button class="list-tile"><i class="fa-solid fa-table-list icon"></i> <span class="text">Order History</span></button>
                </div>
            </div>
            <div id="content">
                <%- include('./profile_screens/details.ejs') %>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>
</html>