@font-face {
    font-family: Thailandesa;
    src: url(../THAILAND.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../OpenSans.ttf);
}

@keyframes wiggle {
    0% {
        transform: rotate(0) scale(1);
        color: var(--text-950);
    }
    20% {
        transform: rotate(10deg) scale(1.02);
    }
    40% {
        transform: rotate(-15deg) scale(1.07);
    }
    50% {
        color: var(--primary-500);
    }
    60% {
        transform: rotate(15deg) scale(1.1);
    }
    80% {
        transform: rotate(-7deg) scale(1.04);
    }
    100% {
        transform: rotate(0) scale(1);
        color: var(--text-950);
    }
}

@keyframes blurIn {
    from {
        filter: blur(10px);
        transform: scale(1.1);
    }
    to {
        filter: blur(0);
        transform: scale(1);
    }
}

.wiggle {
    animation: wiggle .7s ease-out;
}

.blur-in {
    animation: blurIn 1s cubic-bezier(.5, 0, 0, 1);
}

html[data-theme="light"] {
    --text-50: #faf3eb;
    --text-100: #f5e7d6;
    --text-200: #ebcfad;
    --text-300: #e0b785;
    --text-400: #d69f5c;
    --text-500: #cc8733;
    --text-600: #a36c29;
    --text-700: #7a511f;
    --text-800: #523614;
    --text-900: #291b0a;
    --text-950: #140e05;

    --background-50: #faf5eb;
    --background-100: #f5ebd6;
    --background-200: #ebd6ad;
    --background-300: #e0c285;
    --background-400: #d6ad5c;
    --background-500: #cc9933;
    --background-600: #a37a29;
    --background-700: #7a5c1f;
    --background-800: #523d14;
    --background-900: #291f0a;
    --background-950: #140f05;

    --primary-50: #fbf3e9;
    --primary-100: #f7e7d4;
    --primary-200: #efd0a9;
    --primary-300: #e7b87e;
    --primary-400: #dfa053;
    --primary-500: #d78828;
    --primary-600: #ac6d20;
    --primary-700: #815218;
    --primary-800: #563710;
    --primary-900: #2b1b08;
    --primary-950: #160e04;

    --secondary-50: #ebfaf5;
    --secondary-100: #d6f5eb;
    --secondary-200: #aeead7;
    --secondary-300: #85e0c3;
    --secondary-400: #5dd5af;
    --secondary-500: #34cb9b;
    --secondary-600: #2aa27c;
    --secondary-700: #1f7a5d;
    --secondary-800: #15513e;
    --secondary-900: #0a291f;
    --secondary-950: #051410;

    --accent-50: #ebf5fa;
    --accent-100: #d6ecf5;
    --accent-200: #aed8ea;
    --accent-300: #85c5e0;
    --accent-400: #5db1d5;
    --accent-500: #349ecb;
    --accent-600: #2a7ea2;
    --accent-700: #1f5f7a;
    --accent-800: #153f51;
    --accent-900: #0a2029;
    --accent-950: #051014;

    --error: #FF6464;
}
html[data-theme="dark"] {
    --text: #f1f1f1;
    --background: #0b0804;
    --primary: #c66906;
    --secondary: #6e4112;
    --accent: #a45c0e;
}

body {
    font-family: OpenSans, sans-serif;
    font-weight: 500;
    color: var(--text-950);
    background-color: var(--background-50);
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 48px;
}

input {
    border: 1px solid var(--accent-200);
    border-radius: 5px;
    background-color: var(--accent-50);
    padding: .2rem;
}

input.one {
    padding: .4rem;
    border-radius: 20px;
    border: 1px solid var(--primary-950);
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}

button.one {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 100px;
    border: 1px solid var(--primary-500);
    background-color: var(--primary-500);
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-50);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}
button.one:hover {
    background-color: var(--text-50);
    color: var(--primary-500);
    transform: scale(1.1);
}
button.one:active {
    transform: scale(0.9);
}

button.four {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid var(--primary-500);
    font-weight: bold;
    font-size: 1rem;
    background-color: transparent;
    color: var(--primary-500);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}
button.four:hover {
    background-color: var(--primary-500);
    color: var(--text-50);
    transform: scale(1.1);
}
button.four:active {
    transform: scale(0.9);
}

a.button.one {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 100px;
    border: 1px solid var(--primary-500);
    background-color: var(--primary-500);
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-50);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}
a.button.one:hover {
    background-color: var(--text-50);
    color: var(--primary-500);
    transform: scale(1.1);
}
a.button.one:active {
    transform: scale(0.9);
}

button.two {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-500);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
    padding: 0;
    text-align: left;
}
button.two:hover {
    color: var(--accent-500);
}

button.three {
    background-color: var(--accent-500);
    font-weight: bold;
    color: var(--text-50);
    padding: .2rem .4rem .2rem .4rem;
    border-radius: 5px;
    border: none;
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}
button.three:hover {
    transform: scale(1.1);
}
button.three:active {
    transform: scale(0.9);
}

a.button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-500);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
    text-decoration: none;
}
a.button:hover {
    color: var(--accent-500);
}

.vertical-divider {
    width: 2px;
    height: 100%;
    margin: .5rem;
    background: radial-gradient(circle, var(--text-950) 0%, rgba(255,255,255,0) 100%);
}

.horizontal-divider {
    height: 1px;
    width: 100%;
    margin: .5rem;
    background: radial-gradient(circle, var(--text-950) 0%, rgba(255,255,255,0) 100%);
}

.thailandesa {
    font-family: Thailandesa, sans-serif;
}

.background-text {
    color: var(--background-50);
}

.primary-text {
    color: var(--primary-500);
}

.dbg {
    border: 2px solid red;
}

.relative {
    position: relative;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.width-100 {
    width: 100%
}

.height-100 {
    height: 100%;
}

.text-shadow {
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.text-right {
    text-align: right;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-center {
    align-self: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flex-gap {
    gap: 1rem;
}

.bold {
    font-weight: 900;
}

#pseudo-navbar {
    width: 100%;
    height: 3rem;
    padding: .5rem 0 .5rem 0;
    top: 0;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 3rem;
    padding: .5rem 0 .5rem 0;
    box-shadow: 0px 5px 15px #0b08043a;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(5px);
}

#navbar img {
    height: 100%;
}

#navbar a.nav-button {
    color: var(--text-950);
    border: none;
    text-decoration: none;
    transition: all .5s cubic-bezier(0.5, 0, 0, 1);
}

#navbar a.nav-button:hover {
    font-size: larger;
    color: var(--primary-500);
}

#cart-button, #account-button {
    transition: all .5s cubic-bezier(.25, 0, 0, 1);
}
#cart-button:hover, #account-button:hover {
    color: var(--primary-500);
}

#navbar-prof-pic {
    width: 2rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

#footer {
    width: 100vw;
    height: 400px;
}

.container {
    width: 1100px;
}

.gap {
    height: 1rem;
}

a.clean {
    color: var(--text-950);
    border: none;
    text-decoration: none;
}