#order-modal-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(.5, 0, 0, 1);
}

#order-modal {
    position: fixed;
    width: 400px;
    height: 500px;
    background-color: var(--secondary-50);
    top: 50%;
    left: 50%;
    z-index: 10;
    padding: 1rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) translateY(1rem);
    transition: all 0.5s cubic-bezier(.5, 0, 0, 1);
}
#order-modal.revealed {
    transform: translate(-50%, -50%);
}

#order-modal.revealed, #order-modal-background.revealed {
    opacity: 1;
    pointer-events: all;
}

#order-modal-image {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform: scaleX(-1);
}

#order-otw {
    font-weight: bold;
    color: var(--primary-500);
    font-size: x-large;
}

#cart-table {
    width: 100%;
    border-collapse: collapse;
}

#bg-blob-1 {
    position: absolute;
    z-index: -1;
    width: 65vw;
    height: 90vh;
    background-color: var(--secondary-100);
    border-bottom-right-radius: 100%;
}

#cart-table th {
    padding: .5rem;
}

#cart-table tr:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--background-100);
}

#cart-table tr:first-child th:first-child {
    border-top-left-radius: 1rem;
}
#cart-table tr:first-child th:last-child {
    border-top-right-radius: 1rem;
}

#cart-table td, #cart-table tr {
    padding: .5rem 1rem .5rem 1rem;
}

#cart-table td {
    text-align: center;
}

#cart-table tr:nth-child(odd) td {
    background-color: var(--background-100);
}

#cart-table tr:nth-child(even) td {
    background-color: var(--background-50);
}

#cart-table tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}
#cart-table tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}

#content-wrapper {
    display: flex;
    gap: 1rem;
    position: relative;
}



.dish-image {
    aspect-ratio: 1/1;
    width: 100px;
    object-fit: cover;
    border-radius: 1rem;
}

.dish-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dish-subtotal {
    font-weight: bold;
}

.remove-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    font-size: large;
    color: var(--text-950);
    transition: all .5s cubic-bezier(.5, 0, 0, 1);
}
.remove-button:hover {
    color: var(--error);
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter .count {
    padding: .5rem 1.5rem .5rem 1.5rem;
    background-color: var(--primary-100);
}

.counter .minus {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: .4rem;
    border: none;
    background-color: var(--accent-300);
}

.counter .add {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .4rem;
    border: none;
    background-color: var(--primary-300);
}

#cart-wrapper {
    flex-basis: 100%;
}

#summary-wrapper {
    width: 300px;
    align-self: self-start;
    position: sticky;
    top: 10%;
}

#summary {
    width: 50%;
    flex: 1;
}

#summary-table {
    width: 100%;
}

#voucher-wrapper {
    flex: 3;
}