<div id="admin_history-wrapper" class="content-wrapper">
    <div class="width-100 thailandesa" style="text-align: center; color: var(--primary-500); font-weight: bold; font-size: x-large;">All Order History</div>
    <div class="gap"></div>
    <div class="gap"></div>
    <div id="admin-order-history-wrapper">
    </div>
</div>

<script>
    getOrderHistory(true)
</script>