<div style="display: grid; grid-template-columns: 50% 50%;">
    <div>
        <span class="bold">Display Name: </span><%= User.displayName %>
        <br>
        <button class="two">Change</button>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <button class="two">Change Password</button>
    </div>
    <div>
        
    </div>
</div>